ion-toolbar {
    --background: #FFFFFF;
    --color: black;

    --min-height: 50px;
    --padding-top: 5px;
    --padding-bottom: 10px;
}

ion-title {
    text-align: center;
}

ion-label {
    color: #1d305d;
}

ion-icon {
    color: #00194a;
}

input {
    background: #8196aa;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 100%;
}

.col-container{
    align-self: center;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    height: 190px;
    margin-bottom: 20px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

button {
    background: #16bdae;
    border: 0;
    border-radius: 7px;
    color: white;
    padding: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.pt-site-footer__submit {
    position: relative;
    display: inline-block;
    width: 50%;
}

#inputID::placeholder {
    color: #8196aa
}